{% extends "layout.html" %} 
{% block content %}
<h3>to review book please click the ISBN for the selected book</h3>
<h2>Book Details:</h2>
<p>
ISBN: <a href="{{url_for('review',book_id=books.id)}}">{{ books.isbn }}</a><br>
Title: {{ books.title }}<br>
Author: {{ books.author }}<br>
Year: {{ books.year }}<br>
</p> 
<hr>
<div class="goodreads">
<h4>Goodreads ratings</h4>
<p>
    Total Number of Ratings : {{ work_ratings_count }} <br>
    Average Rating : {{ average_rating }}<br>
    ISBN : {{ isbn }}
    </p>
</div>
    


{% endblock content %}