{% extends "layout.html" %} 
{% block content %}
<h1>Book Details:</h1>
<p>
ISBN: {{ books.isbn }}<br>
Title: {{ books.title }}<br>
Author: {{ books.author }}<br>
Year: {{ books.year }}<br>
</p> 
<div class="goodreads">
<h2>Goodreads ratings</h2>
<p>
    Total Number of Ratings : {{ work_ratings_count }} <br>
    Average Rating : {{ average_rating }}<br>
    ISBN : {{ isbn }}
    </p>
    </div>
    <hr>
    <h3>my reviews</h3>
        <fieldset>
        <fieldset>
            <form action="{{ url_for('myreviews',book_id=books.id)}}",name="rating",method="post">
        <div class="form-group">
                <label for="rating">Rating ( Out of 5 )</label>
            <input input name="rating" type="radio" value="1">1
            <input input name="rating" type="radio" value="2">2
            <input input name="rating" type="radio" value="3">3
            <input input name="rating" type="radio" value="4">4
            <input input name="rating" type="radio" value="5">5
        </div>
        <div class="form-group" >
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" name="comment"></textarea>
      </div>

      <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
      </div>
        
    
        
    </form>


    {% endblock content %}

