{% extends "layout.html" %} 
{% block content %}

<h1>Search A Book</h1>
<div class="sticky">
<form action="{{ url_for('mybooks') }}" method="post">

    <div class="form-group">
        <label for="SearchType">Search By:</label>
        <select class="form-control" name="searchtype" id="SearchType">
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="year">Year</option>
        </select>
    </div>

    <div class="form-group ">
        <input class="form-control" name="query" placeholder="Search">
    </div>

    <div class="form-group " >
        <button class="btn btn-primary" type="submit">Search</button>
    </div>

</form>
</div>
<table>
              
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
    </th>
    {% for book in books %} 
    <tr>
                  
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        
    </tr>
    {% endfor %} 
</table>

{% endblock content %}